*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root, input, button{
    font-family: Arial;
}

body{
    background:  url('http://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg') no-repeat center/cover;
    min-height: 100vh;
    color: #e1e1e6;
    display: grid;
    place-items: center;
}

header{
    display: grid;
    justify-content: center;
    gap: 10px;
}

h1{
    text-align: center;
    font-family:Verdana;
    font-size: 2.5rem;
    line-height: 100%;
    color: #dae4f2;
}

h1 div{
    color: #6f9de2;
}

main{
    display: grid;
    gap: 1.5rem;
    max-width: 368px;

}

section{
    padding: 1.5rem;
    background: #191d24;
    border: 1px solid #21252c;
    border-radius: 15px;
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

h2{
    font-family: 'Arial'; /*Oxanium*/
    font-size: 1.25rem;
    line-height: 100%;
    color: #c8d0da;
}

.badge{
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 600;
    color: #9871f3;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.badge::before{
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background: url("http://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg") no-repeat center;
}

p{
    font-size: 0.875rem;
    line-height: 160%;
    color: #95a1b1;
}

.registration h2{
    margin-bottom: 1.5rem;
}

form{
    display: grid;
    gap: 1.5rem;
}

.input-wrapper{
    display: grid;
    gap: 0.75rem;
}

.input-group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    border: 1px solid #21252c;
    background: #13161b;
    padding: 0 1 rem;
}

input{
    background: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    color: #e1e1e6;
}

input::placeholder{
    line-height: 160%;
    color: #6f7d90;
}
